<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Il Festival della creatività e dell'innovazione dal basso</h3>
                <h1>4-5 Giugno 2016</h1>
                <h5>Fab Lab Toscana - Polo Tecnologico di Navacchio</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/WAO_logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->