        <div class="container mtb">
            <div class="row ">
                <div class="col-lg-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4671.101667309821!2d10.489458703445317!3d43.683035103659186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d58c2ec68d6817%3A0x150dd69c7ed8edf2!2sVia+Mario+Giuntini%2C+192%2C+56021+Cascina+PI!5e0!3m2!1sen!2sit!4v1462898569963" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="{{ "/assets/img/organizer.png" | prepend: site.baseurl }}" class="img-responsive">
                            <br/>
                            <address style="font-weight: bold">
                                Fab Lab Toscana - Cascina<br>
                                Via Mario Giuntini 192<br>
                                56021 Cascina (PI)<br>
                            </address>
                            <p> <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
                                Mappa: <a href="https://goo.gl/maps/4GhXLWxVA9S2">Google maps</a>
                            </p>
                            <h3>
                                Come arrivare
                            </h3>
                            <p class="lead">
                                Il Fab Lab è raggiungibile:
                            </p>
                            <p> <i class="fa fa-3x  fa-car" aria-hidden="true"></i>
                                <strong>in auto</strong>: Uscita Navacchio della S.g.c FI-PI-LI
                            </p>
                            <p> <i class="fa fa-3x  fa-train" aria-hidden="true"></i>
                                <strong>in treno</strong>: a 400mt dalla stazione di Navacchio sulla linea Pisa-Firenze
                            
                            </p>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
