<div class="container mtd">
    
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">4 Giugno</a></li>
        <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">5 Giugno</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="first">...</div>
        <div role="tabpanel" class="tab-pane" id="second">...</div>
      </div>

    </div>
    
</div>